.markdown pre {
  @apply overflow-x-auto rounded p-4 my-4;
}

.markdown pre code {
  @apply text-xs;
}

.markdown blockquote {
  @apply border-solid border-l-4 border-gray-500 dark:border-gray-600 pl-4 italic;
}

.markdown p,
.markdown blockquote,
.markdown pre {
  @apply max-w-full;
}

.markdown p {
  @apply text-gray-600 dark:text-gray-400;
}

.markdown ul {
  padding-left: 1.5rem;
  list-style: inherit;
  @apply text-gray-600 dark:text-gray-400;
}

.markdown ol {
  padding-left: 1.5rem;
  list-style: decimal;
  @apply text-gray-600 dark:text-gray-400;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-gray-700 dark:text-gray-200 font-semibold mt-6 mb-2;
}

.markdown h1 {
  @apply text-2xl;
}

.markdown h2 {
  @apply text-xl;
}

.markdown h3 {
  @apply text-lg;
}

.markdown a {
  color: #0369a1;
}

@media (prefers-color-scheme: dark) {
  .markdown a {
    color: #38bdf8;
  }

  .markdown .shiki,
  .markdown .shiki span,
  .markdown .astro-code,
  .markdown .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
