---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="About">
  <div class="flex flex-col w-full pt-8 px-4 space-y-4 text-gray-600 font-semibold">
    <h1 class="font-bold text-gray-600 text-3xl">Hi,</h1>
    <p>My name is Kuldeep Yadav, working professional with more than 12 YOE in software development.</p>
    <p>
      A technology enthusiast who love digging the rabit hole regarding anything, I find interesting. Having worked upon various languages, frameworks and databases, currently spending my time to learing the secret sauce of <stong>AI</stong> to enhance the experience & learning.
    </p>
    <p>
      Loves learning new programming languages and building things from scratch, which helps in understanding different programming pradigm, design philosphies & tradeoffs.
    </p>
    <p>
      I have started this website to write about my experiences and things I
      have learnt so far. You can follow me on X and Github.
    </p>
    <p class="italic">Thanks</p>
  </div>
  <Profile extraClasses="mt-4" />
</Layout>
